:root {
    --primary: #f01c29;
    --black: #000;
    --white: #fff;
    --light-black: #666;
    --hover: #f03f4a;
    --bg: #f9f9f9;
    --border: 0.1rem solid rgba(0, 0, 0, 0.3);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --transtion: all 0.5s;
}

/* Start header */

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
    height: 7rem;
}

.header-caption {
    color: var(--black);
    font-weight: 900;
    font-size: 1.5rem;
}

.header-caption span {
    color: var(--primary);
    font-weight: 800;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2.3rem;
}

.nav-list li {
    list-style: none;
}

/* .nav-link {
    transition: var(--transtion);
} */
.nav-link:link,
.nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link-first {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1.5px solid var(--primary);
}

.nav-link:hover,
.nav-link:active {
    color: var(--primary);
    border-bottom: 1.5px solid var(--primary);
}

.nav-list li:first-child:active {
    color: var(--primary);
    border-bottom: 1.5px solid var(--primary);
}

.btn-search {
    background-color: transparent;
    border: none;
}

.icon-btn {
    background-color: transparent;
}

/* End header */
/********************************************************************************************/

/* Start section main*/
.main-section {
    background-image: url("../img/Background-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    justify-content: start;
    align-content: center;
}

.main {
    position: relative;
}

.main-content {
    margin-top: -9rem;
}

.primary-heading span {
    color: var(--primary);
}

.contanier-pergraph {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.3;
    color: var(--black);
    opacity: 0.8;
}

/* End section main */
/********************************************************************************************/

/*Start section Cars*/

.cars-section {
    background-color: var(--bg);

}

.type-cars {
    font-size: 2rem;
    color: var(--black);
    font-weight: 800;
    margin: 0.3rem;
}

.cars-pergraph {
    font-size: 1.2rem;
    color: #666;
}

.cars {
    /* padding: 3rem 0; */
    max-width: 120rem;
    margin: 0 auto;
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 3.2rem;

}

.imges-cars {
    max-width: 35rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.picture-car {
    width: 100%;
    height: 20rem;
    transition: var(--transtion);
}

.name-care:link,
.name-care:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    position: absolute;
    top: 14rem;
    left: 1rem;
    background-color: var(--bg);
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: var(--transtion);
    font-weight: 500;
}

.name-care span {
    transition: var(--transtion);
}

.imges-cars:hover .name-care {
    background-color: var(--primary);
}

.imges-cars:hover .picture-car {
    transform: scale(1.2);
}

.imges-cars:hover .name-care span {
    color: var(--white);
    font-weight: 600;
}

/* End section Cars */
/********************************************************************************************/

/* Start sectio About */
.image-about {
    max-width: 70rem;
    /* margin: 0 10rem; */
}

.picture-about {
    width: 100%;
}

.content-about .caption-size4 {
    margin-bottom: 1rem;
}

.content-about .main-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.content-about .main-pergraph {
    line-height: 1.5;
    color: #000;
}

.btn-About:link,
.btn-About:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary);
    padding: 1rem 2.5rem;
    margin-left: 2rem;
    transition: var(--transtion);
    margin-left: -0.2rem;
    font-weight: 500;
}

.btn-About:hover,
.btn-About:active {
    background-color: #f03f4a;
}

/* End section About */
/********************************************************************************************/

/*Start section Parts*/

.parts-content .type-parts {
    font-size: 2rem;
    color: var(--black);
    font-weight: 800;
    margin: 0.3rem;
}

.parts-content .parts-pergraph {
    font-size: 1.2rem;
    color: #666;
}

.parts {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3rem 3.2rem;
}

.card-content {
    background-color: whitesmoke;
    padding: 1rem 1rem;
    max-width: 40rem;
    padding-right: 1rem;
    border-radius: 10px;
}

.parts-image {
    max-width: 20rem;

}

.picture-parts {
    width: 100%;
    height: 18rem;
    margin-bottom: 1.2rem;
}

.Listof-requirementsCars {
    display: grid;
    align-items: center;
}

.proudact-name {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 600;
    margin: .2rem;
}

.proudact-price {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary);
    margin-left: .2rem;
    margin-bottom: 1.3rem;
}

.proudact-valueted {
    display: flex;
    align-items: center;
    gap: .2rem;
    margin-bottom: 1rem;
}

.parts-icon {
    width: 1.3rem;
    height: 1.5rem;
    color: var(--primary);
}

.reviewes {
    color: var(--primary);
    margin-bottom: -0.1rem;
}

.pyment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -2rem;

    padding: 1rem;
}

.btn-pyment:link,
.btn-pyment:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary);
    padding: 1.2rem 3rem;
    transition: var(--transtion);
    font-weight: 700;
    margin-left: 1.2rem;
}

.btn-pyment:hover,
.btn-pyment:active {
    background-color: var(--hover);
}

.details {
    font-size: 1.5rem;
    font-weight: 500;
    transition: var(--transtion);
}

.details:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    cursor: pointer;
}

/* End section Parts */
/********************************************************************************************/

/* Start section Blog */

.Blog-content .type-blog {
    font-size: 2rem;
    color: var(--black);
    font-weight: 800;
    margin: 0.3rem;
}

.Blog-content .blog-pergraph {
    font-size: 1.2rem;
    color: #666;
}

.Blog {
    max-width: 120rem;
    margin: 0 auto;
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 3.2rem;
}

.blog-card {

    background-color: transparent;
    padding: 1em 1.5rem;
    border-radius: 10px;
    height: 36rem;
    transition: var(--transtion);
}

.blog-card:hover {
    background-color: whitesmoke;
    height: 36rem;
}

.box-image {
    max-width: 40rem;

}

.picture-blog {
    width: 100%;
    margin-bottom: .5rem;
}

.date {
    display: block;
    color: #f03f4a;
    margin-bottom: .5rem;
    font-weight: 500;
}

.caption-card {
    color: #000;
    font-weight: 700;
    margin-bottom: .5rem;
}

.content-pergraph {
    font-size: 1.3rem;
    color: #666;
    font-weight: 500;
    margin-bottom: 1rem;
}

.contanier-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.details-icon {
    width: 1.3rem;
    height: 1.5rem;
    margin-bottom: -.3rem;
}

.Link-details:link,
.Link-details:visited {
    display: inline-block;
    text-decoration: none;
    color: #000;

}

.Link-details:hover,
.Link-details:active {
    color: var(--hover);
}

.details-icon {
    transition: var(--transtion);
}

.details-icon:hover {
    transform: scale(1.5);
    cursor: pointer;
    color: var(--hover);
}

/* End section Blog */
/********************************************************************************************/

/*Start section register*/

.registier-heading {
    font-size: 2rem;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}

.registier-heading span {
    color: var(--primary);
}

.contact {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

.form-contact {
    padding: 2rem;
    border: var(--border);
    /* border-radius: 10px; */
    background-color: var(--white);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 70rem;
}

.registier-caption {
    margin-bottom: 4rem;
}

.contact-heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 1.5rem;

}

.image-contact {
    background-image: linear-gradient(to right bottom, #00000089,
            #f01c2a5a), url(../img/car2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 60rem;
    height: 50rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

.contanier-input-fild {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
}

.input-fild {
    display: flex;
    flex-direction: column;
}

.input-self {
    padding: 1rem;
    border: var(--border);

}

.textarea {
    padding: 0.8rem;
    border: var(--border);
}

.btn-submit {
    display: inline-block;
    border: none;
    color: var(--primary);
    border: solid 1px var(--primary);
    padding: 1rem 3rem;
    border-radius: 18px;
    transition: all 0.3s;
    background-color: var(--white);
}

.btn-submit:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
}

/*End section register last section*/


/* Satrt footer*/
.footer {
    background-color: #000;
    border-top: 1px var(--primary) solid;
}

.nav-footer .header-caption {
    display: block;
    margin-bottom: 1.5rem;
    color: white;
}

.nav-footer .header-caption span {
    color: var(--primary);
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.List-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.List-social li {
    list-style: none;
}

.nave-icon {
    width: 2.5rem;
    height: 1.5rem;
    color: white;
    opacity: 0.5;
    transition: var(--transtion);
}

.nave-icon:hover {
    color: var(--hover);
    transform: rotate(180deg);
}

.caption-nav {
    font-size: 1.5rem;
    color: var(--bg);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.List-nave {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.List-nave li {
    list-style: none;
}

.List-nave li a {
    text-decoration: none;
    color: var(--bg);
    opacity: 0.5;
    transition: var(--transtion);
}

.List-nave li a:hover {
    color: var(--primary);
}

.copy-right {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    padding-bottom: 1.5rem;
}

.Ancuer {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;

}

.Ancuer span {
    color: var(--primary);
}


.search {
    position: absolute;
    top: -16rem;
    left: 5rem;
    width: 130rem;
}

.filed-search {
    width: 100%;
    padding: 1.5rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px var(--primary);
    opacity: 0;
    overflow: hidden;
    transition: var(--transtion);
}

.btn-search {
    cursor: pointer;
}

.done .filed-search {
    opacity: 1;
    overflow: visible;
}

.btn-delete {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 107rem;
    bottom: 1.5rem;
}

.delete {
    color: #000;
    font-weight: 700;
    opacity: 0;
}

.visible .delete {
    opacity: 1;
    overflow: visible;
}

.icon-nav {
    width: 3rem;
    height: 3rem;
}

.icon-navbar {
    border: none;
    outline: none;
    background-color: transparent;
    display: none;
}